<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Insert title here</title>
</head>
<body>

	<form action="salvarReserva" method="post">


	<label>Nome:</label>
	<input type="text" name="tituloEvento"><br><br>


	<label>	Descrição:</label><br>
	<textarea name="descricao"></textarea><br><br>
	
	<label>Data do Evento:</label>
	<input type="date" name="dataEvento"><br><br>
	
	<label>Período:</label><br><br>
	
	<label> <input type="checkbox" name="manha"/> <span>Manhã</span></label><br><br>
	<label> <input type="checkbox" name="tarde"/> <span>Tarde</span></label><br><br>
	<label> <input type="checkbox" name="noite"/> <span>Noite</span></label><br><br>
	
		<input type="submit" value="Salvar">

	
	
</form>

</body>
</html>